Datapack/data/stats/stat.xsd

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://la2j.org"
           xmlns="http://la2j.org"
           elementFormDefault="qualified">

    <xs:complexType name="xmlTypeStat">
        <xs:sequence>
            <xs:element name="conditions" type="xmlStatCondition" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="order" type="xs:int" use="required"/>
        <xs:attribute name="function" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xmlTypeEnumStat" use="required"/>
        <xs:attribute name="value" type="xs:float" use="required"/>
    </xs:complexType>

    <xs:element name="operator" type="xmlStatConditionOperator"/>
    <xs:element name="and" type="xmlStatConditionAND" substitutionGroup="operator"/>
    <xs:element name="or" type="xmlStatConditionOR" substitutionGroup="operator"/>
    <xs:element name="not" type="xmlStatConditionNOT" substitutionGroup="operator"/>

    <xs:element name="condition" type="xmlStatConditionType"/>
    <xs:element name="using" type="xmlStatUsingCondition" substitutionGroup="condition"/>
    <xs:element name="player" type="xmlStatPlayerCondition" substitutionGroup="condition"/>
    <xs:element name="game" type="xmlStatGameCondition" substitutionGroup="condition"/>

    <xs:complexType name="xmlStatCondition">
        <xs:choice>
            <xs:element ref="operator"/>
            <xs:element ref="condition"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="xmlStatConditionType" abstract="true">

    </xs:complexType>

    <xs:complexType name="xmlStatUsingCondition">
        <xs:complexContent>
            <xs:extension base="xmlStatConditionType">
                <xs:attribute name="kind" type="xs:string" use="required"/>
                <xs:attribute name="slot" type="xs:int"/>
                <xs:attribute name="item" type="xs:int"/>
                <xs:attribute name="enchantment" type="xs:int" default="0"/>
                <xs:attribute name="types" type="xs:string" />
                <xs:attribute name="skill" type="xs:int"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xmlStatPlayerCondition">
        <xs:complexContent>
            <xs:extension base="xmlStatConditionType">
                <xs:attribute name="kind" type="xs:string" use="required"/>
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xmlStatGameCondition">
        <xs:complexContent>
            <xs:extension base="xmlStatConditionType">
                <xs:attribute name="kind" type="xs:string" use="required"/>
                <xs:attribute name="value" type="xs:string" use="required"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xmlStatConditionOperator" abstract="true">
    </xs:complexType>

    <xs:complexType name="xmlStatConditionAND">
        <xs:complexContent>
            <xs:extension base="xmlStatConditionOperator">
                <xs:sequence>
                    <xs:element ref="operator" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element ref="condition" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xmlStatConditionOR">
        <xs:complexContent>
            <xs:extension base="xmlStatConditionOperator">
                <xs:sequence>
                    <xs:element ref="operator" maxOccurs="unbounded" minOccurs="0"/>
                    <xs:element ref="condition" maxOccurs="unbounded" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="xmlStatConditionNOT">
        <xs:complexContent>
            <xs:extension base="xmlStatConditionOperator">
                <xs:choice>
                    <xs:element ref="operator"/>
                    <xs:element ref="condition"/>
                </xs:choice>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="xmlTypeEnumStat">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="collapse"/>
            <xs:enumeration value="MAX_HP"/>
            <xs:enumeration value="MAX_MP"/>
            <xs:enumeration value="MAX_CP"/>
            <xs:enumeration value="REGENERATE_HP_RATE"/>
            <xs:enumeration value="REGENERATE_CP_RATE"/>
            <xs:enumeration value="REGENERATE_MP_RATE"/>
            <xs:enumeration value="RECHARGE_MP_RATE"/>
            <xs:enumeration value="HEAL_EFFECTIVNESS"/>
            <xs:enumeration value="PHYSIC_DEFENCE"/>
            <xs:enumeration value="MAGIC_DEFENCE"/>
            <xs:enumeration value="PHYSIC_ATTACK"/>
            <xs:enumeration value="MAGIC_ATTACK"/>
            <xs:enumeration value="PHYSIC_ATTACK_SPEED"/>
            <xs:enumeration value="MAGIC_ATTACK_SPEED"/>
            <xs:enumeration value="MAGIC_REUSE_RATE"/>
            <xs:enumeration value="SHIELD_DEFENCE"/>
            <xs:enumeration value="CRITICAL_DAMAGE"/>
            <xs:enumeration value="PVP_PHYSIC_DAMAGE"/>
            <xs:enumeration value="PVP_MAGIC_DAMAGE"/>
            <xs:enumeration value="PVP_PHYS_SKILL_DMG"/>
            <xs:enumeration value="EVASION_RATE"/>
            <xs:enumeration value="SHIELD_RATE"/>
            <xs:enumeration value="CRITICAL_RATE"/>
            <xs:enumeration value="BLOW_RATE"/>
            <xs:enumeration value="LETHAL_RATE"/>
            <xs:enumeration value="MCRITICAL_RATE"/>
            <xs:enumeration value="EXPSP_RATE"/>
            <xs:enumeration value="ATTACK_CANCEL"/>
            <xs:enumeration value="ACCURACY"/>
            <xs:enumeration value="PHYSIC_ATTACK_RANGE"/>
            <xs:enumeration value="MAGIC_ATTACK_RANGE"/>
            <xs:enumeration value="PHYSIC_ATTACK_ANGLE"/>
            <xs:enumeration value="ATTACK_COUNT_MAX"/>
            <xs:enumeration value="RUN_SPEED"/>
            <xs:enumeration value="WALK_SPEED"/>
            <xs:enumeration value="STAT_STR"/>
            <xs:enumeration value="STAT_CON"/>
            <xs:enumeration value="STAT_DEX"/>
            <xs:enumeration value="STAT_INT"/>
            <xs:enumeration value="STAT_WIT"/>
            <xs:enumeration value="STAT_MEN"/>
            <xs:enumeration value="BREATH"/>
            <xs:enumeration value="AGGRESSION"/>
            <xs:enumeration value="BLEED"/>
            <xs:enumeration value="POISON"/>
            <xs:enumeration value="STUN"/>
            <xs:enumeration value="ROOT"/>
            <xs:enumeration value="MOVEMENT"/>
            <xs:enumeration value="CONFUSION"/>
            <xs:enumeration value="SLEEP"/>
            <xs:enumeration value="FIRE"/>
            <xs:enumeration value="WIND"/>
            <xs:enumeration value="WATER"/>
            <xs:enumeration value="EARTH"/>
            <xs:enumeration value="HOLY"/>
            <xs:enumeration value="DARK"/>
            <xs:enumeration value="AGGRESSION_VULN"/>
            <xs:enumeration value="BLEED_VULN"/>
            <xs:enumeration value="POISON_VULN"/>
            <xs:enumeration value="STUN_VULN"/>
            <xs:enumeration value="PARALYZE_VULN"/>
            <xs:enumeration value="ROOT_VULN"/>
            <xs:enumeration value="SLEEP_VULN"/>
            <xs:enumeration value="CONFUSION_VULN"/>
            <xs:enumeration value="MOVEMENT_VULN"/>
            <xs:enumeration value="FIRE_VULN"/>
            <xs:enumeration value="WIND_VULN"/>
            <xs:enumeration value="WATER_VULN"/>
            <xs:enumeration value="EARTH_VULN"/>
            <xs:enumeration value="HOLY_VULN"/>
            <xs:enumeration value="DARK_VULN"/>
            <xs:enumeration value="CANCEL_VULN"/>
            <xs:enumeration value="DERANGEMENT_VULN"/>
            <xs:enumeration value="DEBUFF_VULN"/>
            <xs:enumeration value="NONE_WPN_VULN"/>
            <xs:enumeration value="SWORD_WPN_VULN"/>
            <xs:enumeration value="BLUNT_WPN_VULN"/>
            <xs:enumeration value="DAGGER_WPN_VULN"/>
            <xs:enumeration value="BOW_WPN_VULN"/>
            <xs:enumeration value="POLE_WPN_VULN"/>
            <xs:enumeration value="ETC_WPN_VULN"/>
            <xs:enumeration value="FIST_WPN_VULN"/>
            <xs:enumeration value="DUAL_WPN_VULN"/>
            <xs:enumeration value="DUALFIST_WPN_VULN"/>
            <xs:enumeration value="REFLECT_DAMAGE_PERCENT"/>
            <xs:enumeration value="REFLECT_SKILL_MAGIC"/>
            <xs:enumeration value="REFLECT_SKILL_PHYSIC"/>
            <xs:enumeration value="ABSORB_DAMAGE_PERCENT"/>
            <xs:enumeration value="TRANSFER_DAMAGE_PERCENT"/>
            <xs:enumeration value="MAX_LOAD"/>
            <xs:enumeration value="PATK_PLANTS"/>
            <xs:enumeration value="PATK_INSECTS"/>
            <xs:enumeration value="PATK_ANIMALS"/>
            <xs:enumeration value="PATK_MONSTERS"/>
            <xs:enumeration value="PATK_DRAGONS"/>
            <xs:enumeration value="PATK_UNDEAD"/>
            <xs:enumeration value="PDEF_UNDEAD"/>
            <xs:enumeration value="ATTACK_REUSE"/>
            <xs:enumeration value="INV_LIM"/>
            <xs:enumeration value="WH_LIM"/>
            <xs:enumeration value="FREIGHT_LIM"/>
            <xs:enumeration value="P_SELL_LIM"/>
            <xs:enumeration value="P_BUY_LIM"/>
            <xs:enumeration value="REC_D_LIM"/>
            <xs:enumeration value="REC_C_LIM"/>
            <xs:enumeration value="MP_CONSUME_RATE"/>
            <xs:enumeration value="HP_CONSUME_RATE"/>
            <xs:enumeration value="MP_CONSUME"/>
            <xs:enumeration value="SOULSHOT_COUNT"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>